.SubMenu {
    background-color: orange;
}
.sectName {
    font-size: 24px;
}
.price {
    font-weight: bold;
}
.navItem {
    flex: 1;
    padding: 10px;
    background-color: teal;
    margin-right: 5px;
}
.nav {
    display: flex;
    margin-bottom: 20px;
}